
<div class="ui  segment">
  <div class="ui inverted relaxed divided list">
    <div class="item">
    <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Represent a subway line and all the stations in that line.</div>

      </div>
    </div>
    <div class="item">
    <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Load the lines and stations information from a flat file.</div>

      </div>
    </div>
    <div class="item">
    <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Given two stations, we should be able to determine valid path connecting the two stations.
        </div>

      </div>
    </div>
       <div class="item">
       <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Get the timings information for lines based on the given date and time.</div>

      </div>
    </div>
    <div class="item">
    <i class="right triangle icon"></i>
      <div class="content">
        <div class="header">Print tickets, fare details and route information.
        </div>

      </div>
    </div>
  </div>
</div>