List of Features:
<div class="ui  segment">
  <div class="ui  relaxed divided list">
    <div class="item">
      <div class="content">
        <div class="header"><h4>Represent a subway line and all the stations in that line.</h4></div>
        <div class="blue ui buttons">
  <div class="ui button">Must to have</div>
  <div class="ui button">Good to have</div>
  <div class="ui button">Not required</div>
  <hr/>
</div>

      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><h4>Load the lines and stations information from a flat file.</h4></div>
<div class="blue ui buttons">
  <div class="ui button">Must to have</div>
  <div class="ui button">Good to have</div>
  <div class="ui button">Not required</div>
  <hr/>
</div>

      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><h4>Given two stations, we should be able to determine valid path connecting the two stations.</h4>
        </div>
        <div class="blue ui buttons">
  <div class="ui button">Must to have</div>
  <div class="ui button">Good to have</div>
  <div class="ui button">Not required</div>
  <hr/>
</div>
      </div>
    </div>
       <div class="item">
      <div class="content">
        <div class="header"><h4>Get the timings information for lines based on the given date and time.</h4></div>
        <div class="blue ui buttons">
  <div class="ui button">Must to have</div>
  <div class="ui button">Good to have</div>
  <div class="ui button">Not required</div>
  <hr/>
</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="header"><h4>Print tickets, fare details and route information.</h4>
        </div>
        <div class="blue ui buttons">
  <div class="ui button">Must to have</div>
  <div class="ui button">Good to have</div>
  <div class="ui button">Not required</div>
  <hr/>
</div>
      </div>
    </div>
  </div>
</div>