        <div id="canvas_container"></div>

        <script type="text/javascript">

window.myload = function() {
        var paper = new Raphael(document.getElementById('canvas_container'), 1200, 600);

        var fclick_x, fclick_y;
        var eclick_x, eclick_y;
        var fshape,eshape;
        var line;



var startX, startY;
var cnt = 0;
var result = [];

function onstart() {
startX = this.attr('x');
startY = this.attr('y');
}
function onend() {
}

function onmove(dx, dy) {
this.attr({
x: startX + dx,
y: startY + dy
});
}

var clicked = function(el){
	console.log(this);
	//click on first element of connection
	if(fshape === undefined){
		console.log('first shape of connection clicked');
		fshape = this;
	}
	else{
		console.log('second shape of connection clicked');
		paper.connector(fshape,this,{double_headed: true});
		fshape = undefined;
	}

}

var c1 = paper.text(400, 50, 'Represent a subway line and all the stations in that line.')
c1.attr({'link_type':2, opacity: 1, 'font-size': 20});
c1.src_no =  1;

var c1 = paper.text(400, 100, 'Load the lines and stations information from a flat file.')
c1.attr({'link_type':2, opacity: 1, 'font-size': 20});
c1.src_no =  2;

var c1 = paper.text(400, 150, 'Given two stations, we should be able to determine valid path connecting the two stations.')
c1.attr({'link_type':2, opacity: 1, 'font-size': 20});
c1.src_no =  3;

var c1 = paper.text(400, 200, 'Get the timings information for lines based on the given date and time.')
c1.attr({'link_type':2, opacity: 1, 'font-size': 20});
c1.src_no =  4;

var c1 = paper.text(400, 250, 'Print tickets, fare details and route information.')
c1.attr({'link_type':2, opacity: 1, 'font-size': 20});
c1.src_no =  4;

var square = paper.rect(860, 0, 200, 100);
square.attr('fill', 'blue');
//square.attr('src_no', 1);
square.src_no =  1;
square.attr('opacity', 0.3);

var square2 = paper.rect(860, 125, 200, 100);
square2.attr('fill', 'red');
square2.src_no =  2;
square2.attr('opacity', 0.3);


var square3 = paper.rect(860, 250, 200, 100);
square3.attr('fill', 'green');
square3.src_no =  3;
square3.attr('opacity', 0.3);


//var text = paper.text(760, 100, 'Bye Bye Circleeeee!')
//text.attr({opacity: 1, 'font-size': 12}).toBack();


//square.drag(onmove, onstart, onend);

 paper.forEach(function (el) {
    el.attr({ cursor: "pointer" });
    el.click(clicked);
    el.drag(onmove, onstart, onend);
});	

// var target = paper.rect(0, 0, 600, 600);
// target.attr("fill", "#ddf");
// target.attr("stroke", "#000").toBack();


// var rect2 = paper.rect(600, 0, 600, 600);
// rect2.attr("fill", "#ddf");
// rect2.attr("stroke", "#000").toBack();


}



window.myload();



        </script>