
  <div class="ui page grid stackable segment" >

    <div class="center column aligned row">
    <div class="ui eight column stackable left floated  grid">
      <a class="column" ng-click="showStory()">
          <div class="ui circular segment">
            <h2 class="ui header">
              Customer Story
            </h2>
          </div>
          </a>

      <div class="column">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Feature List
            </h2>
          </div>
          </div>

          <div class="two wide column">
                            <div class="ui circular segment">
            <h2 class="ui header">
              Use-Case Diagrams
            </h2>
          </div>
          </div>

          <div class="three wide column">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Gather Requirements
            </h2>
          </div>
          </div>

            <div class="column">
            <div class="ui circular segment">
            <h2 class="ui header">
              Domain Analysis
            </h2>
          </div>
          </div>

          <div class="column">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Design Principles
            </h2>
          </div>
          </div>
                
                <div class="column">
                   <div class="ui circular segment">
            <h2 class="ui header">
              Implementation
                          </h2>
          </div>
          </div>

</div>
    </div>
  </div>