<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
      <link rel="stylesheet" type="text/css" href="packaged/css/semantic.css">
  <link rel="stylesheet" type="text/css" href="homepage.css">


        <script src="bower_components/jquery/jquery.js"></script>
          <script src="packaged/javascript/semantic.js"></script>
  <script src="homepage.js"></script>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    
            <script type="text/javascript" src="RapUI/Raphael.js"></script>
        <script type="text/javascript" src="RapUI/connector.js"></script>
        <script type="text/javascript" src="RapUI/script_working_2.js"></script>
        <style type="text/css">
            #holder {
                background: #333;
                width: 500px;
                border: 1px solid #aaa;
            }
        </style>
  </head>
  <body ng-app="pApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


<div class="ui fluid seven item menu">
  <a class="active red item"><h4>Customer Story</h4></a>
  <a class="red item"><h4>Feature List</h4></a>
  <a class="red item"><h4>Usecase Diagram</h4></a>
  <a class="red item"><h4>Modularize</h4></a>
  <a class="red item"><h4>Domain Analysis</h4></a>
  <a class="red item"><h4>Design Principles</h4></a>
  <a class="red item"><h4>Implementation</h4></a>
</div>


  <div class="ui page grid stackable segment" ng-controller="ProjectCtrl">




    <div class="center column aligned row">
    <div class="ui eight column stackable left floated  grid steps">

      <a class="column  ui step" ng-href="#/story" ng-class="{active : activeValue === 'story'}"  ng-click="clickedPage('story')">
          <div class="ui circular segment item">
            <h2 class="ui header">
              Customer Story
            </h2>
          </div>
          </a>

      <a class="column ui step" ng-href="#/features" ng-class="{active : activeValue === 'features'}"  ng-click="clickedPage('features')">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Feature List
            </h2>
          </div>
          </a>

          <a class="two wide column ui step" ng-href="#/usecase" ng-class="{active : activeValue === 'usecase'}"  ng-click="clickedPage('usecase')">
                            <div class="ui circular segment">
            <h2 class="ui header">
              Usecase Diagram
            </h2>
          </div>
          </a>

          <a class="three wide column ui step" ng-href="#/requirements" ng-class="{active : activeValue === 'req'}"  ng-click="clickedPage('req')">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Gather Requirements
            </h2>
          </div>
          </a>

            <div class="column ui step">
            <div class="ui circular segment">
            <h2 class="ui header">
              Domain Analysis
            </h2>
          </div>
          </div>

          <div class="column ui step">
          <div class="ui circular segment">
            <h2 class="ui  header">
              Design Principles
            </h2>
          </div>
          </div>
                
                <div class="column ui step">
                   <div class="ui circular segment">
            <h2 class="ui header">
              Software
              Implementation
                          </h2>
          </div>
          </div>


</div>
    </div>
  </div>

    <!-- Add your site or application content here -->
    <div class="container" ng-view=""></div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->




    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->
</body>
</html>
